*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: rgba(0, 78, 10, 0.637);
}

#highscores {
  margin-left: 5px;
  margin-top: 5px;
  font-size: xx-large;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.highscores-title {
    font-size: xx-large;
    display: flex; 
    justify-content: center;
    padding-top: px;
    
}

.card-timer {
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
  float: right;
  margin-top: -30px;
}

.title {
    padding:10px;
}

main {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  color: black;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn:hover {
  border-color: black;
}

.start-btn,
.next-btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
